<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="well blockBlue">Tendances</div>
      <div class="well blockBlue">Les derniers gazooies</div>
      <div class="well blockBlue">(c) 3012 Lta</div>
    </div>
    <div class="well jumbotron col-md-8 blockTitle">
      <span class="title">Bienvenue sur Gazooyr</span>
      <p>Le twitter qu'il est vachement plus mieux</p>
    </div>
  </div>
  <div class="row col-md-offset-4 blockColors">
    <div class="well col-md-4">
      Un gazoozy est un petit message de 142 caracteres
      <p>Pour unr fois plus c'est cours mieux c'est!</p>
    </div>
    <div class="well col-md-4">
      Interagissez avec des deuzaines de personnes que vous connaissez (ou pas!)
    </div>
    <div class="well col-md-4">
      Trade some pr0n, because that's what Internet has been made for.
    </div>
  </div>
  <div class="row col-md-offset-4">
    <div class="well col-md-8 blockBlue">
      Ici on mettra les gazooy plus tard

      <div class="gazooies-block">
          <% @gazooies.sort_by{|t| - t.created_at.to_i}.each do |gazooy| %>
              <%= gazooy.text %>
          <% end %>
      </div>

      <!--   <p id="notice"><%= notice %></p>

      <h1>Gazooies</h1>

      <table>
        <thead>
        <tr>
          <th>Text</th>
          <th colspan="3"></th>
        </tr>
        </thead>

        <tbody>
        <% @gazooies.sort_by{|t| - t.created_at.to_i}.each do |gazooy| %>
          <tr>
            <td><%= gazooy.text %></td>
            <td><%= link_to 'Show', gazooy %></td>
            <td><%= link_to 'Edit', edit_gazooy_path(gazooy) %></td>
            <td><%= link_to 'Destroy', gazooy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Gazooy', new_gazooy_path %> !-->

    </div>
    <div class="col-md-4 textWithArrow"><- Les derniers gazooy sont la</div>
  </div>
</div>
